[user]
	name = Mayco Barale
	email = maycobarale@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[includeIf "gitdir:~/workspace/**"]
	path = ~/workspace/.gitconfig-dept
[includeIf "gitdir:~/workspace/tr/**"]
	path = ~/workspace/tr/.gitconfig-tr
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	dark = true
	line-numbers = true
	side-by-side = false
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[pull]
	rebase = true
[rebase]
	autoStash = true
